<div class="container">
    <h1 style="text-align:center">자유 게시판</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-md-2">글번호</th>
                <th class="col-md-8">제목</th>
                <th class="col-md-2">작성일자</th>
            </tr>
        </thead>
        <tdody>
            <% @posts.each do |p| %>
            <tr>
                <td><%= p.id %></td>
                <td><a href="/views/<%= p.id %>"><%= p.title %></a></td>
                <td><%= p.created_at.strftime("%Y-%m-%d") %></td>
            </tr>
            <% end %>
        </tdody>
    </table>
    <h2><a href="/write">글쓰기</h2></a>
</div>

